<%- include('req/header') %>

<br><br>

<div class="container">
    <p>List is users who fill the form</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date and Time</th>
            <th scope="col">E-mail</th>
            <th>read msg</th>
          </tr>
        </thead>
        <tbody>
            <% cont.forEach(data =>{ %>
          <tr>
            <td><%= data.name %></td>
            <td><%= data.Created_Date.toLocaleDateString() %> / <%= data.Created_Date.toLocaleTimeString() %></td>
            <td><%= data.email %></td>
            <td><a href="contact/<%= data.id %>" class="btn btn-primary">Read msg.</a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
</div>

  
  
  
  
  
  
  <!-- typing effect js -->
  <script src="js/typingscriptmain.js"></script>
  <!--  ====================   -->
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
  </html>